.folder-container {
    margin-left: 8vw;
}

.inventory-grid-container__items-grid {
    padding-left: 1.5em;
}

.inventory-grid-container__items-grid .card--item {
    /* margin-right: 1em; */
    height: 10em;
    width: 10em;
    background-color: grey;
}

.inventory-grid-container__items-grid .card_item-name {
    height: 4em;
}

.inventory-grid-container__items-grid .card--item .card__icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.inventory-grid-container__items-grid .card__item.description {
    display: inline-flex;
    align-items: center;
}
