.folder-container input {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.search-bar-dropdown-text {
    margin-left: 1.5em;
}

.folder-container {
    margin-left: 80px;
}

.folder-container .folder-options {
    /* padding: 1em 2em 2em; */
    /* padding: 0.5em; */
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.folder-container .folder-header {
    display: flex;
    font-size: 2rem;
    position: sticky;
    top: 0;
    padding: 0.5em;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
    background-color: white;
}

.folder-container .folder-header .folder-name {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 5px;
    position: relative;
    width: 10em;
}

.folder-container .folder-header .folder-name:hover {
    background-color: rgb(180, 173, 173);
}

.searchBar {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.folder-options .searchBar .searchIcon {
    padding-left: 0.5em;
}

.folder-options .searchBar .searchInput {
    margin: 0 auto;
    border: none;
    background-color: #f2f2f2;
    height: 2rem;
}

.folder-options .searchBar .searchInput:focus {
    outline: none;
}

/* .card--item {
    margin-right: 1em;
    height: 10em;
    width: 10em;
    background-color: grey;
} */

/* .inventory-grid-container__items-grid .card__item.description {
    display: inline-flex;
    align-items: center;
} */

.folder-container td.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 5px;
    padding: 5px;
}

.folder-container td.actions button:hover {
    color: #007bff;
}

.folder-container button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.folder-summary {
    display: block;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.folder-summary .folder-summary-sec-1 {
    display: flex;
}

.folder-summary .folder-summary-sec-2 {
    margin-top: 1rem;
}

.folder-grid-container .grid--folders {
    /* padding-top: 1.5em; */
    padding-left: 1.5em;
    /* padding-bottom: 2em; */
}

/* .grid--folders .card--folder {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    height: 10em;
    width: 10em;
}

.grid--folders .card--folder .card__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
} */

.folder-grid-container .grid--items {
    padding-left: 1.5em;
}

/* .grid--items .card--item {
    height: 10em;
    width: 10em;
    background-color: grey;
} */
