.Inventory {
    /* margin-left: 0; */
    /* text-align: left;
    align-items: left; */
    /* margin-right: auto; */
    /* max-width: 800px; */
    /* padding: 2em; */
    /* flex: 1; */
    /* margin-left: 8vw; */
    width: 100%;
}

.Inventory h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.Inventory table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

.Inventory th,
.Inventory td {
    border: 1px solid #ccc;
    padding: 12px;
}

.Inventory th {
    background-color: #f4f4f4;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.Inventory td {
    font-size: 1.1rem;
}

.Inventory td.actions {
    text-align: center;
}

.Inventory td.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 5px;
    padding: 5px;
}

.Inventory td.actions button:hover {
    color: #007bff;
}

.Inventory input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
}

.Inventory label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
}

.Inventory button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.sticky-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    /* padding: 0 2em;
    margin: 0px auto; */
}

.sticky-header .add-new {
    margin-left: auto;
    position: relative;
    width: 125px;
}

.sticky-header .add-new .add-new-button {
    /* align-items: center; */
    width: 100%;
}

.sticky-header .add-new .add-new-options {
    display: block;
    /* margin-left: auto;
    align-items: center; */
    /* text-align: left; */
}

.sticky-header .add-new .add-new-options .add-item-button {
    text-align: left;
    width: 150px;
}

.sticky-header .add-new .add-new-options .add-folder-button {
    text-align: left;
    width: 150px;
}

/* .add-item-form label[for="item-price"]::before {
    content: "$";
    display: inline-block;
    margin-right: 5px;
} */

.add-item-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    max-width: 90%;
    max-height: 100%;
    padding: 1rem;
    height: 45vh;
    width: 45vw;
    border-radius: 16px;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); */
}

.add-item-form-header {
    padding: 0.5em;
}

.add-item-form .add-item-button {
    width: 10vw;
    margin-top: auto;
    margin-left: auto;
}

.add-item-form .item-name-input {
    font-size: 1.5em;
}

.add-item-form .item-quantity-input {
    font-size: 1em;
    height: 2em;
    width: 8em;
}

.add-item-form .item-price-input {
    font-size: 1em;
    height: 2em;
    width: 8em;
}

.inventory-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.inventory-summary div {
    flex-basis: 30%;
    text-align: center;
}

.inventory-options {
    /* padding: 1em 2em 2em; */
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchBar {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.searchBar .searchIcon {
}

.searchBar .searchInput {
    margin: 0 auto;
    border: none;
    background-color: #f2f2f2;
}

.searchBar .searchInput:focus {
    outline: none;
}

.sortButton {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.5em;
}

.inventory-grid .item-card {
    height: 8em;
}

.inventory-grid .item-card-name {
    height: 5em;
}

.inventory-grid .item-card-description {
    display: inline-flex;
    align-items: center;
}
