.Inventory {
    /* margin-left: 0; */
    /* text-align: left;
    align-items: left; */
    /* margin-right: auto; */
    /* max-width: 800px; */
    /* padding: 2em; */
    /* flex: 1; */
    margin-left: 8vw;
    /* width: 100%; */
}

.Inventory h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.Inventory table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

.Inventory th,
.Inventory td {
    border: 1px solid #ccc;
    padding: 12px;
}

.Inventory th {
    background-color: #f4f4f4;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.Inventory td {
    font-size: 1.1rem;
}

.Inventory td.actions {
    text-align: center;
}

.Inventory td.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 5px;
    padding: 5px;
}

.Inventory td.actions button:hover {
    color: #007bff;
}

.Inventory input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 10px;
    width: 100%;
}

.Inventory label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
}

.Inventory button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.sticky-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
    /* padding: 0 2em;
    margin: 0px auto; */
}

.sticky-header .add-new-options-container {
    margin-left: auto;
    position: relative;
    width: 125px;
}

.sticky-header .add-new-options-container .add-new-button {
    /* align-items: center; */
    width: 100%;
}

.sticky-header .add-new-options-container .add-new-options {
    /* display: block; */
    /* margin-left: auto; */
    margin-right: auto;
    /* align-items: center; */
    /* text-align: left; */
    position: absolute;
}

.sticky-header .add-new-options-container .add-new-options .add-item-button {
    text-align: left;
    width: 150px;
}

.sticky-header .add-new-options-container .add-new-options .add-folder-button {
    text-align: left;
    width: 150px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.inventory-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.inventory-summary div {
    flex-basis: 30%;
    text-align: center;
}

.inventory-options {
    /* padding: 1em 2em 2em; */
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-dropdown-text {
    margin-left: 1.5em;
}

.searchBar {
    margin-left: 1em;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.searchBar .searchIcon {
    padding-left: 0.5em;
}

.searchBar .searchInput {
    margin: 0 auto;
    border: none;
    background-color: #f2f2f2;
}

.searchBar .searchInput:focus {
    outline: none;
}

.sortButton {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.5em;
}

.inventory-grid-container .items-grid {
    padding-left: 1.5em;
}

.inventory-grid-container .items-grid .item-card {
    /* margin-right: 1em; */
    height: 10em;
    width: 10em;
    background-color: grey;
}

.inventory-grid-container .items-grid .item-card-name {
    height: 5em;
}

.inventory-grid-container .items-grid .item-card-description {
    display: inline-flex;
    align-items: center;
}

.inventory-grid-container .folders-grid {
    padding-top: 1.5em;
    padding-left: 2.5em;
    padding-bottom: 2em;
}

.css-29hkq-MuiGrid-root {
    padding-left: 16px;
}

.inventory-grid-container .folders-grid .folder-card .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
}

.inventory-grid-container .folders-grid .folder-card {
    height: 10em;
    background-color: grey;
    width: 10em;
    display: inline-flex;
    align-items: center;
}

.inventory-grid-container .folders-grid .folder-card .folder-card-name {
    display: inline-flex;
    text-align: left;
}
