.Inventory {
    margin-left: 80px;
}

.Inventory h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.Inventory table {
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
}

.Inventory th,
.Inventory td {
    border: 1px solid #ccc;
    padding: 12px;
}

.Inventory th {
    background-color: #f4f4f4;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.Inventory td {
    font-size: 1.1rem;
}

.Inventory td.actions {
    text-align: center;
}

.Inventory td.actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}

.Inventory td.actions button:hover {
    color: #007bff;
}

.Inventory input {
    padding: 10px;
    width: 100%;
}

.Inventory label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 10px;
}

.Inventory button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.sticky-header {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    border-bottom: 1px solid #fff;
    padding: 0.5em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.inventory-summary {
    display: block;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.inventory-summary .inventory-summary-sec-1 {
    display: flex;
}

.inventory-summary .inventory-summary-sec-2 {
    margin-top: 1rem;
}

.inventory-summary div {
    /* flex-basis: 20%; */
    text-align: left;
    margin-right: 2em;
}

.inventory-options {
    /* padding: 1em 2em 2em; */
    /* padding: 0.5em; */
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar-dropdown-text {
    margin-left: 1.5em;
}

.searchBar .searchIcon {
    padding-left: 0.5em;
}

.searchBar .searchInput {
    margin: 0 auto;
    border: none;
    background-color: #f2f2f2;
    height: 2rem;
}

.searchBar .searchInput:focus {
    outline: none;
}

.sortButton {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: 0.5em;
}
