.item-container {
    margin-left: 80px;
    margin-top: 1rem;
}

.item-container .item-header {
    display: flex;
    font-size: 2rem;
    position: sticky;
    top: 0;
    padding: 0.5em;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
}

.item-container .item-header .item-name {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    border-radius: 5px;
}

.item-container .item-header .item-name:hover {
    background-color: rgb(53, 53, 53);
}

.item-header .item-name {
    padding-left: 0.5em;
}

.item-container .item-info {
    display: flex;
    font-size: 1.2rem;
    padding: 1.5em;
    /* justify-content: ; */
    /* text-align: left; */
}

.item-info .item-sn {
    margin-right: 2em;
}

.item-info .item-pn {
    margin-right: 2em;
}

.item-container .edit-item-form-container {
    padding-left: 1.5em;
}

.edit-item-form-container .edit-quantity-input {
    display: flex;
}

.edit-quantity-input .edit-quantity {
    border: none;
    border-radius: 0.5em;
    height: 2rem;
    width: 12rem;
    background-color: grey;
}

.edit-serial-number-container {
    margin-top: 1em;
}

.edit-serial-number-container .edit-serial-number {
    border: none;
    border-radius: 0.5em;
    height: 2rem;
    width: 12rem;
    background-color: grey;
}

.edit-part-number-container {
    margin-top: 1em;
}

.edit-part-number-container .edit-part-number {
    border: none;
    border-radius: 0.5em;
    height: 2rem;
    width: 12rem;
    background-color: grey;
}

.edit-memo-container {
    margin-top: 1em;
}

.edit-memo-container .edit-memo {
    display: block;
    border: none;
    border-radius: 5px;
    height: 10rem;
    width: 24rem;
    background-color: gray;
    padding: 0.5rem;
    text-align: left;
    resize: vertical;
    box-sizing: border-box;
}

.edit-quantity-input .IsoIcon {
    height: 2rem;
}
/* 
.item-container .save-button {
    display: none;
}

.edit-item-form-container input[type="text"]:focus ~ .save-button {
    display: block;
} */
