.item-container {
    margin-left: 8vw;
    margin-top: 1rem;
}

.item-container .item-header {
    display: flex;
    font-size: 2rem;
    position: sticky;
    top: 0;
    padding: 0.5em;
    border-bottom: 1px solid #fff;
    justify-content: space-between;
}

.item-container .item-info {
    display: flex;
    font-size: 1.2rem;
    padding: 1em;
    /* justify-content: ; */
    /* text-align: left; */
}

.item-info .item-id {
    margin-right: 2em;
}

.item-container .item-edit-container {
    padding: 1em;
}
/* 
.item-container .save-button {
    display: none;
}

.edit-item-form-container input[type="text"]:focus ~ .save-button {
    display: block;
} */
