.App {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    /* display: flex;
    flex-direction: row; */
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"],
button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    margin-left: 10px;
}

input[type="submit"]:hover,
button:hover {
    background-color: #3e8e41;
}

.InventoryList {
    margin-top: 20px;
}

.InventoryItem {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.InventoryItem h3 {
    margin: 0;
    font-size: 18px;
}

.InventoryItem p {
    margin: 0;
    font-size: 14px;
}

.delete-btn {
    background-color: #f44336;
}

.delete-btn:hover {
    background-color: #d32f2f;
}

.edit-btn {
    background-color: #2196f3;
}

.edit-btn:hover {
    background-color: #0d47a1;
}

button:focus {
    outline: none;
}
